.detail {
  font-size: 32px;
  .content {
    font-size: 31px;
    padding: 24rpx 0 24px 30px !important;
  }
}
.txt {
  line-height: 46px;
  .ml {
    margin-left: 12px;
  }
}
.at-icon {
  position: absolute;
  margin-top: 6px;
}
.header {
  white-space: normal;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 18rpx 24rpx;
  color: #333;
  font-size: 32rpx;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
