.detail {
  font-size: 32px;
  .content {
    font-size: 31px;
    padding: 24rpx 0 24px 30px !important;
  }
}
.txt {
  line-height: 46px;
  .ml {
    margin-left: 12px;
  }
}
.at-icon {
  position: absolute;
  margin-top: 6px;
}
