.txt {
  line-height: 46px;
  word-wrap: break-word;
  .ml {
    margin-left: 12px;
  }
}
.header {
  white-space: normal;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 18rpx 24rpx;
  color: #333;
  font-size: 32rpx;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
