.screen {
  position: sticky;
  top: 0;
  padding: 16px 30px;
  .sml {
    margin-top: 8px;
    .fb {
      font-weight: bold;
    }
  }
  .top {
    position: relative;
    top: 4px;
  }
}
.item {
  border-bottom: 1rpx solid #f2f2f2;
  height: 140px;
  padding: 0 30px;
  .fee {
    @include flex-column;
    margin-left: 12px;
    .time {
      // color: #aaa;
      font-size: 22px;
      margin-top: 5px;
    }
  }
  .deal {
    margin-top: 35px;
  }
}
.add-btn {
  position: fixed;
  right: 50rpx;
  bottom: 100rpx;
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
  background: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  @include flex-center;
  font-size: 50rpx;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
