.container {
  background: #f5f5f5;
  color: #444;
  .screen {
    height: 80px;
    padding: 0 30px;
    box-sizing: border-box;
    .tac {
      text-align: center;
      font-size: 36px;
      .right {
        font-size: 32px;
        color: #999;
      }
    }
  }
  .item {
    background: #fff;
    margin-bottom: 4px;
    height: 160px;
    padding: 0 30px;
    box-sizing: border-box;
    .fee {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
      .source {
        font-size: 26px;
        color: #888;
        width: 310px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .time {
        color: #888;
        font-size: 26px;
      }
    }
    .tar {
      text-align: right;
    }
  }
}
