.container {
  color: #444;
  .screen {
    position: sticky;
    top: 0;
    padding: 25px 30px;
    background: #f7f7f7;
    .big {
      font-size: 36px;
      .sml {
        font-size: 30px;
        margin-top: 8px;
        .fb {
          font-weight: bold;
        }
        .ml {
          margin-left: 12px;
        }
      }
      .right {
        font-size: 32px;
        .top {
          position: relative;
          top: 3px;
        }
      }
    }
  }
  .item {
    background: #fff;
    border-bottom: 1rpx solid #f2f2f2;
    height: 160px;
    padding: 0 30px;
    font-size: 34px;
    .fee {
      @include flex-column;
      margin-left: 12px;
      .time {
        color: #aaa;
        font-size: 26px;
        margin-top: 5px;
      }
    }
    .big {
      font-size: 38px;
      margin-top: 35px;
    }
  }
}
