.top {
  font-size: 40px;
  background: #eee;
  height: 80px;
  line-height: 80px;
}
.title {
  font-size: 38px;
  height: 80px;
  line-height: 80px;
  margin: 0 20px;
}
.tip {
  font-size: 28px;
  margin-left: 12px;
  height: 100px;
  line-height: 100px;
}
