.container {
  .top {
    font-size: 35px;
    background: #eee;
    height: 68px;
    line-height: 68px;
  }
  .borderb {
    border-bottom: 3px solid #ccc;
  }
  .title {
    font-size: 38px;
    height: 80px;
    line-height: 80px;
    margin: 0 20px;
  }
  .tip {
    font-size: 28px;
    margin-left: 12px;
    height: 100px;
    line-height: 100px;
    color: #666;
  }
}
