.container {
  .top {
    text-align: center;
    font-size: 37px;
    background: #eee;
    height: 68px;
    line-height: 68px;
  }
  .income {
    font-size: 40px;
    height: 80px;
    line-height: 80px;
    margin: 0 20px;
    border-bottom: 3px solid #ccc;
  }
  .expense-title {
    font-size: 40px;
    height: 80px;
    line-height: 80px;
    margin: 0 20px;
  }
  .tip {
    font-size: 28px;
    margin-left: 8px;
    height: 100px;
    line-height: 100px;
    color: #666;
  }
}
