/* 改变主题变量，具体变量名可查看 taro-ui/dist/style/variables/default.scss 文件 */
$color-brand: #1c8bf2;
/* DarkMode 下的样式 */
@media (prefers-color-scheme: dark) {
  $color-brand: #424143 !global;
}

/* 引入 Taro UI 默认样式 */
@import '~taro-ui/dist/style/index.scss';

// 公用样式
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
.none {
  font-size: 40px;
  height: 150px;
  line-height: 150px;
}
.bbox {
  box-sizing: border-box;
}

.uline {
  text-decoration: underline;
}
.page-section {
  padding: 24rpx 0;
  color: #333;
  background-color: #fff;
  margin-left: 32rpx;
  margin-bottom: 1px;
  position: relative;
}
.c9 {
  color: #999;
}
.c6 {
  color: #666;
}
.fz30 {
  font-size: 30px;
}
.fz36 {
  font-size: 36px;
}
.break {
  word-wrap: break-word;
}
