page {
  background: $design;
}
.mt {
  margin-top: 15px;
  border: none;
  .at-card__header {
    border-bottom: 1px $design solid;
    padding: 10px 24px;
  }
  .at-card__content{
    padding: 10px 24px;
  }
}
