dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store

# 非本项目云函数
wweibo/
weibos/
praise/
getQRCode/
music/
blog/
functions/login/
movie-list/
getPlaylist/
crypto-card.js
crypto.js
getDetail/
qqtest/