.info {
  width: 100%;
  margin-bottom: 30px;
  background: #fff;
  padding: 40px 20px;
  box-sizing: border-box;

  .user {
    display: flex;
    .avatar {
      width: 74px;
      height: 74px;
      border-radius: 50%;
    }
    .user-info {
      flex: 1;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .name {
        display: flex;
      }
    }
  }
}
