.his-title {
  margin: 24px 24px 10px;
  border-bottom: 1px solid $library;
  padding-bottom: 5px;
  color: #666;
  .mr {
    margin-right: 37px;
  }
}
.at-tag--active.at-tag--primary {
  border-color: $library;
  background-color: $library;
}
.at-pagination {
  margin: 8px 40px !important;
}
.at-pagination__btn-prev,
.at-pagination__btn-next {
  background: $library;
  border-radius: 8px;
}
.at-button--primary {
  border: 1px solid $library;
  background: $library;
}
.at-button {
  color: white;
  border: none;
}
