.card-container {
  padding: 20px 30px;
  background: $library;
  .at-card {
    border-radius: 23px;
    .at-card__header-title {
      font-size: 36px;
      color: #333;
    }
    .at-card__content-info {
      font-size: 32px;
    }
    View {
      margin-bottom: 3px;
    }
  }
}
.bind {
  height: 64px;
  line-height: 100px;
}
.his-title {
  margin: 24px 24px 10px;
  border-bottom: 1px solid $library;
  padding-bottom: 5px;
  color: #666;
}
.at-button {
  color: white;
  border: none;
}
.at-button--primary {
  border: 1px solid $library;
  background: $library;
}
.at-input::after,
.at-form::after {
  border: 0 solid $library;
  border-bottom-width: 2px;
}
