.electives {
  padding: 50px 0;
  color: #333;
  .at-card__header-title {
    font-size: 40px;
  }
  .at-card__content-info {
    font-size: 32px;
  }
  .at-button {
    margin-top: 20px;
    color: #fff;
    border: 1px solid $electives;
    background: $electives;
  }
  .watch-txt {
    margin-top: 10px;
    text-align: center;
    color: $electives;
  }
}
