.list {
  font-size: 46px;
  margin: 10px 30px 5px;
  color: $electives;
}
.tip {
  color: #666;
  font-size: 28px;
  margin-left: 10px;
}
// .none {
//   font-size: 36px;
//   height: 40px;
//   line-height: 40;
// }
