.list {
  font-size: 46px;
  height: 32px;
  margin: 30px;
  color: #f2a379;
  Text {
    color: #666;
    font-size: 28px;
    margin-left: 10px;
  }
}
// .none {
//   font-size: 36px;
//   height: 40px;
//   line-height: 40;
// }
