.list {
  font-size: 46px;
  margin: 10px 30px 5px;
  color: $electives;
}
.tip {
  margin-left: 10px;
}
.select {
  .at-button,
  button {
    color: #fff;
    border: 1px solid $electives;
    background: $electives;
    margin-left: 26px;
  }
}
