$bg-trans: rgba(0, 0, 0, 0.5);

.screen {
  position: sticky;
  top: 0;
  padding: 16px 30px;
  .sml {
    margin-top: 8px;
    .fb {
      font-weight: bold;
    }
  }
  .top {
    position: relative;
    top: 4px;
  }
}
.item {
  border-bottom: 1rpx solid #f2f2f2;
  height: 140px;
  padding: 0 30px;
  .fee {
    @include flex-column;
    margin-left: 12px;
    .time {
      // color: #aaa;
      font-size: 22px;
      margin-top: 5px;
    }
  }
  .deal {
    margin-top: 35px;
  }
}
// 小提示/tip组件
.wrapper {
  .add-btn {
    background: $bg-trans;
    position: fixed;
    right: 50rpx;
    bottom: 100rpx;
    width: 80rpx;
    height: 80rpx;
    border-radius: 50%;
    display: flex;
    @include flex-center;
    font-size: 50rpx;
    color: #fff;
    box-shadow: 0 0 5px $bg-trans;
  }
  .tips {
    position: absolute;
    right: 20px;
    bottom: 210px;
    background: $bg-trans;
    width: 450px;
    color: #eee;
    padding: 10px;
    border-radius: 15px;
  }
  .triangle {
    position: absolute;
    right: 89px;
    bottom: -20px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 0 solid transparent;
    border-top: 20px solid $bg-trans;
  }
}
