@import '~taro-ui/dist/style/components/flex.scss';

.his-book {
  border-bottom: 1px solid $library;
  padding: 16rpx 24rpx 24px;
  .break {
    white-space: normal;
    font-size: 38px;
  }
}
.operate-row {
  .at-button--primary {
    border: 1rpx solid $library;
    background: $library;
  }
}
