.big-item {
  margin: 0 25rpx 30rpx;
  .nav {
    overflow: hidden;
    border-radius: 20rpx;
    margin: 50rpx 30rpx;
    display: block;
    .nav-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 90rpx;
      position: relative;
      padding: 0 30rpx;
      min-height: 100rpx;
    }
  }
}
