.container {
  padding-bottom: 30px;
  .form {
    padding: 20px 30px 0;
    .mtop {
      margin-top: 25px;
    }
  }
  .help-text {
    width: 100%;
    height: 100%;
    color: #999;
    font-size: 26px;

    .text {
      padding: 30px 30px 10px;
      width: 90%;
      background: #fff;
      border-radius: 8px;
      @include flex-column;
      .forget {
        margin-top: 10px;
        font-size: 38px;
      }
      View {
        margin-bottom: 10px;
      }
    }
  }
}
.btn {
  margin-top: 25px;
  background: #ff0302;
  border: none;
}
