.form {
  padding: 20rpx 30rpx 0;

  .submit {
    margin-top: 35rpx;
  }

  .help {
    display: flex;
    padding: 0 18rpx;
    flex-direction: row-reverse;

    View {
      color: #666;
      text-decoration: underline;
    }
  }

  .help-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      padding: 20px 20px 10px;
      width: 60%;
      background: #fff;
      border-radius: 8px;
      display: flex;
      flex-direction: column;

      View {
        margin-bottom: 10px;
      }
    }
  }
}
