.add-btn {
  position: fixed;
  right: 50rpx;
  bottom: 100rpx;
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  background: rgb(116, 194, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100rpx;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  .btn {
    margin-top: -16rpx;
  }
}
