@import '~taro-ui/dist/style/components/flex.scss';

.border-b {
  border-bottom: 1px solid #efefef;
  .at-row {
    line-height: 60px;
    .at-col-8 {
      white-space: normal;
      word-break: break-all;
      padding-left: 5px;
      line-height: 1.4;
      margin: 6px 0;
    }
  }
}
