.title {
  padding: 30rpx;
  @include flex-column-center;
  margin: 60rpx 0;
  .top {
    position: relative;
    .logo {
      width: 240rpx;
      height: 240rpx;
    }
    .version {
      position: absolute;
      right: -50px;
      bottom: 0;
    }
  }
  .desc {
    font-size: 42rpx;
    padding: 30rpx 0;
  }
}
