.title {
  @include flex-column-center;
  padding: 30rpx;
  color: #454545;
  margin: 60rpx 0;
  .top {
    position: relative;
    .logo {
      width: 420rpx;
      height: 340rpx;
    }
    .version {
      position: absolute;
      right: 40px;
      bottom: 102px;
    }
  }
}
