.profile {
  height: 480rpx;
  .img {
    width: 100%;
    height: 100%;
  }
}
.open {
  position: absolute;
  top: 120px;
  @include flex-column-center;
  width: 100vw;
  // 点击（触摸）穿透
  pointer-events: none;
  .avatar-url {
    width: 200rpx;
    height: 200rpx;
    display: block;
    overflow: hidden;
    border-radius: 50%;
  }
  .nickname {
    margin-top: 30rpx;
    font-weight: 400;
  }
}
.nav {
  overflow: hidden;
  border-radius: 20rpx;
  margin: 50rpx 30rpx;
  display: block;
  .nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 90rpx;
    position: relative;
    padding: 0 30rpx;
    min-height: 100rpx;
    .content {
      height: 100px;
      line-height: 100px;
      flex: 1;
    }
  }
  .btn {
    line-height: 1.6em;
    border-radius: 0;
  }
  button::after {
    border: none;
    border-radius: 0;
  }
}
.at-modal__content {
  font-size: 32px !important;
}
