.form {
  padding: 100px 30px 10px;

  .submit {
    margin-top: 35rpx;
  }
}

.line {
  text-decoration: underline;
}

.text {
  padding: 20px 20px;
  color: #999;

  .forget {
    margin-top: 10px;
    font-size: 38px;
  }
}
