.form {
  padding: 100px 30px 10px;

  .submit {
    margin-top: 35rpx;
  }
}

.line {
  text-decoration: underline;
}

// .text {
//   padding: 20px 20px;
//   color: #999;
// }
.help-text {
  width: 100%;
  height: 100%;
  color: #999;
  font-size: 26px;

  .text {
    padding: 30px 30px 10px;
    width: 60%;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    .forget {
      margin-top: 10px;
      font-size: 38px;
    }

    View {
      margin-bottom: 10px;
    }
  }
}
