page {
  height: 100%;
}

.container {
  @include flex-column-center;
  background: #efefef;
  font-size: 36px;
  height: 100%;

  .card {
    height: 700px;
    width: 90%;
    margin-top: 50px;
    padding: 20px 0;
    background: #fff;
    border-radius: 15px;

    .key {
      color: #999;
      font-size: 30px;
      margin: 10px 0;
    }

    .line {
      margin: 40px auto;
      width: 85%;
      background: #bbb;
      height: 2px;
    }
    .big{
      font-size: 58px;
    }
  }
}
