.top {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 0 30px;

  .set {
    font-size: 36px;
    display: flex;
    align-self: center;
    padding: 5px;
    height: 60px;
    line-height: 60px;
    .txt {
      padding: 2px 0 0 3px;
    }
  }
  .main {
    font-size: 36px;
    font-weight: bold;
    margin-left: 10px;
  }
  .right {
    padding: 10px;
  }
}
