.container {
  padding: 0 12px 20px;
  color: #555;
  .about {
    background-color: #fff;
    width: 90%;
    margin: auto;
    font-size: 35px;
    white-space: normal;
  }
  .version {
    margin: 5px 0;
    color: #999;
  }
}
