.container {
  padding: 0 12px 20px;
  color: #555;
  .about {
    background-color: #fff;
    width: 90%;
    margin: auto;
    font-size: 29px;
    white-space: normal;
  }
  .version {
    margin: 15px 0 10px;
  }
}
