.radio-group {
  height: 80px;
  line-height: 80px;
  margin-bottom: 30px;
}
.at-search-bar__action {
  background-color: $stu;
}
.res {
  margin: 0 30px 20px;
  padding-top: 20px;
  .item {
    height: 65px;
    line-height: 65px;
  }
}
.at-pagination__btn-prev,
.at-pagination__btn-next {
  background: $stu;
  border-radius: 8px;
}
.at-button {
  color: white;
  border: none;
}
