.page-section {
  display: flex;
  .picker-select {
    vertical-align: middle;
    margin-left: 108px;
    width: 150px;
  }
  .picker-select-week {
    vertical-align: middle;
    width: 480px;
  }
}
