.left {
  width: 72px;

  .month {
    width: 100%;
    height: 106px;
    font-size: 32px;
    text-align: center;
    line-height: 106rpx;
  }

  .active {
    border-radius: 10px;
  }

  .time-item {
    @include flex-column-center;
    box-sizing: border-box;
    height: 124px;
    font-weight: normal;
    padding: 8px 0;
    margin: 4px 0;
    // color: #6a7879;

    .class-num {
      font-weight: bold;
      font-size: 25px;
    }
  }
}
