.container {
  @include flex-column;
  padding: 0 46px;
  .card {
    @include flex-column;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
    font-size: 32px;
    margin-top: 40px;
    color: #fff;
    height: 223px;
    width: 100%;
    border-radius: 25px;
    background: $card;
    position: relative;

    .my-card {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .money {
      margin-top: 20px;
      display: flex;

      .bg {
        position: absolute;
        width: 377px;
        height: 168px;
        bottom: 0;
        left: 150px;
      }

      .balance {
        font-size: 82px;
        z-index: 1;
        .un {
          font-size: 54px;
        }
      }
    }
  }
  .card-drawer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    font-size: 32px;
    margin-top: -40px;
    color: #fff;
    height: 130px;
    // height: 190px;
    width: 100%;
    border-radius: 25px;
    background: transparentize($card, 0.2);
    .list {
      display: flex;
      @include flex-center;
      height: 100%;
      width: 50%;
      .pr {
        padding-right: 2px;
      }
    }
  }
}
.ml {
  margin-left: 10px;
}
