.score {
  color: #666;
  .at-col {
    text-align: center;
    // height: 118px;
    height: 70px;
    line-height: 50px;
    white-space: normal;
    display: flex;
    align-items: center;
    .txt {
      width: 66%;
      margin: auto;
      font-size: 37px;
    }
  }
  .selected {
    background: $score;
    color: #fff;
  }
  .unselect {
    background: #efefef;
  }
  .border-b {
    border-bottom: 1px solid #ccc;
    .item-container {
      padding: 15px 45px 15px 35px;
      .item {
        display: flex;
        justify-content: space-between;
        font-size: 36px;
        height: 70px;
        line-height: 70px;
        box-sizing: border-box;
        color: $score;
        // .course {
        //   color: $score;
        // }
        // .score {
        // color: #59a153;
        // }
      }
      .term {
        display: flex;
        justify-content: space-between;
        font-size: 30px;
      }
    }
  }
}
