.score {
  color: #666;
  movable-area {
    position: fixed;
    right: 10px;
    bottom: 20px;
    .at-fab {
      width: 90px;
      height: 90px;
      background: $score;
    }
  }
  .border-b {
    border-bottom: 1px solid #ccc;
    .item-container {
      padding: 10px 45px 10px 35px;
      .item {
        display: flex;
        justify-content: space-between;
        font-size: 34px;
        height: 80px;
        line-height: 80px;
        box-sizing: border-box;
        color: $score;
      }
      .term {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
      }
    }
  }
}
