.score {
  color: #666;
  padding: 101px 0 20px;
  .getted {
    padding: 10px 20px;
  }
  .container {
    text-align: center;
    background: #fefefe;
    .title {
      margin-top: 20px;
      font-size: 30px;
      color: $score;
    }
  }
  .at-tabs {
    height: 101px;
    position: fixed;
    top: 0;
  }
  .at-tabs__item--active {
    color: $score !important;
  }
  .at-tabs__item--active .at-tabs__item-underline {
    background-color: $score;
  }
}
