.list {
  padding: 10px 24rpx;
  font-size: 24px;
}
.page-section {
  padding: 24px;
  color: #333;
  font-size: 34px;
  line-height: 1.5;
  border-bottom: 1px solid #d6e4ef;
  .picker {
    display: flex;
    justify-content: space-between;
  }
}
// .at-drawer--show .at-drawer__content {
//   background: #000;
// }
