.class {
  display: flex;
  font-size: 26px;
  background: #f4f9f8;
  color: #0f3749;
  font-weight: bold;

  .week {
    display: flex;
    height: 1304px;
    overflow-x: auto;
    word-wrap: break-word;

    .day {
      display: flex;
      justify-content: center;

      .active {
        background: #dce9ed;
        border-radius: 10px;
      }

      .top {
        @include flex-column-center;
        width: 96px;
        height: 100px;

        .date {
          font-weight: normal;
          font-size: 19px;
        }
      }
    }
  }
}
