.class {
  display: flex;
  // background: #f4f9f8;
  // color: #0f3749;
  font-weight: bold;

  .week {
    display: flex;
    height: 1384px;
    overflow-x: auto;
    .day {
      display: flex;
      justify-content: center;
      .active {
        // background: #dce9ed;
        border-radius: 10px;
      }
      .top {
        @include flex-column-center;
        width: 96px;
        height: 106px;
        .date {
          font-weight: normal;
          font-size: 19px;
        }
      }
      .item-class {
        position: absolute;
        top: 100px;
        height: 220px;
        padding: 6px;
        width: 78px;
        border-radius: 10px;
        overflow: hidden;
        .name {
          overflow: hidden;
          max-height: 110px;
        }
        .place {
          font-size: 24px;
          font-weight: normal;
        }
      }
    }
  }
}
