// 考试安排
$arrange: #769fcd;

// 校园卡
$card: #a80000;

// 毕业设计
$design: #a5e9db;

// 选修课
$electives: #f2a379;

// 图书馆
$library: #a3c6c4;

// 成绩
$score: #4e4e6a;

// 找人
$stu: #f9b8be;

// 宿舍报修
$repair: #519a73;

// 暗夜模式适配
$bgColor: #f1f1f1;
@media (prefers-color-scheme: dark) {
  $bgColor: #191919;
}
