@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  @include flex-column;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}
