.treasure {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 46px;
  justify-content: space-between;
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 25px;
    width: 46%;
    color: #fff;
    padding: 30px 10px 30px 0;
    height: 66px;
    font-size: 40px;

    &:hover {
      width: 45%;
      height: 58px;
      font-size: 36px;
    }
  }
}
.at-input {
  margin-left: 0 !important;
}
